$colorFondo: aqua;
$colorUno:  rgb(36,36,95);
$colorLetra: #fff;
$tamLogos: 35px;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: $colorUno;
    color: $colorLetra; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 667px;

    .header__logo {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-left: 5px;

        img {
            width: $tamLogos;
            height: auto;
        }
    }
    
    nav {
        
        ul {
            padding: 0;
            margin: 20px;
            list-style: none;
            display: flex;
            gap: 15px;
            font-size: 25px;
                    
            li {
                align-items: center;
                justify-content: center;
                
                
                a {
                    color: $colorLetra;
                    text-decoration: none;
                    
                }
            }
        }
    }
}




/* slider */

.header__slider {
    width: 100%;
    height: 55rem;
    overflow: hidden;
    min-width: 667px;

    ul {
        padding: 0px;
        list-style: none;
        display: flex;
        width: 300%;
    
        animation: cambio 15s infinite alternate;

        li {
            width: 100%;
            height: auto;

            img {
                width: 100%;
                height: auto;
            }
        }
    }
          
}

@keyframes cambio {
    0% {margin-left: 0;}
    15% {margin-left: 0%;}

    40% {margin-left: -100%;}
    60% {margin-left: -100%;}
    
    90% {margin-left: -200%;}
    100% {margin-left: -200%;}
}






/* formulario */

.contenedor {
    align-items: center;
    background-image: url(./imagenes/chica-con-cabello-como-olas-y-avion-de-papel-8046.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
    min-width: 667px;

    .contenedor__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        gap: 40px;
    }
}




/* foooter */

.footer {
    background-color: $colorUno;
    display: flex;
    justify-content: center;
    color: $colorLetra;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    min-width: 667px;

    .footer__links {
        display: flex;
        

        div {

            a {

                img {
                    width: $tamLogos;
                    height: auto;
                    margin: 20px;

                }
            }
        }
    }
}